{% extends 'base.html.twig' %}

{% block title %}Wanna Gonna{% endblock %}

{% block content %}
<div id="home-content">
    {% include 'component/homepage/_intro.html.twig' %}
    {% include 'component/homepage/_concept.html.twig' %}
    {% include 'component/homepage/_whoweare.html.twig' %}
    {% include 'component/homepage/_skillcloud.html.twig' %}
    {% include 'component/homepage/_howdoesitwork.html.twig' %}
    {% include 'component/homepage/_homecarousel.html.twig' %}
    {% include 'component/homepage/_questionsanswers.html.twig' %}
    </div>
{% endblock %}
