{% extends 'base.html.twig' %}

{% block title %}Wanna Gonna{% endblock %}

{% block content %}
<div id="home-content">
    {% include 'component/_intro.html.twig' %}
    {% include 'component/_concept.html.twig' %}
    {% include 'component/_whoweare.html.twig' %}
    {% include 'component/_skillcloud.html.twig' %}
    {% include 'component/_howdoesitwork.html.twig' %}
    {% include 'component/_homecarousel.html.twig' %}
    {% include 'component/_questionsanswers.html.twig' %}
</div>
{% endblock %}
