<nav id="home-nav" class="col-12 col-lg-2 navbar-expand-lg bouton-menu-dashboard">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-button-navbar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link changingtab active" id="v-pills-projects-tab" data-toggle="pill"#v-pills-projects" role="tab" aria-controls="v-pills-projects" aria-selected="true">Projects</a>
            <a class="nav-link changingtab" id="v-pills-accomplishments-tab" data-toggle="pill" href="#v-pills-accomplishments" role="tab" aria-controls="v-pills-accomplishments" aria-selected="false">Accomplishements</a>
            <a class="nav-link changingtab" id="v-pills-skills-tab" data-toggle="pill" href="#v-pills-skills" role="tab" aria-controls="v-pills-skills" aria-selected="false">Your Skills</a>
            <a class="nav-link changingtab" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        </div>
    </div>
</nav>
