{% extends 'layout/frame.html.twig' %}

{% block title %}New Task{% endblock %}

{% block framed %}
    <h1 class="text-primary">Task creation</h1>
        {{ include('task/_form.html.twig') }}
{% endblock %}
