<div class="row justify-content-sm-center">
    <div id="concept" class="home-section container bg-light col-sm-10 rounded mb-5 p-4 shadow">
        <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <h2 class="text-primary">Concept</h2>
            <p class="lead text-dark" >
                Wanna Gonna is a collaborative platform for volunteering which brings people together using their skills and the needs of associations, organizations, communities, companies, and public services from all around the world.</p><p class="lead text-dark" >
                Together we can make a difference and change the world !
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex d-flex justify-content-center">
            <img src="{{ asset('build/images/favicon.png') }}" class="img-fluid" alt="">
        </div>
    </div>
</div>
</div>