<div class="row justify-content-sm-center">
    <div id="concept" class="home-section container bg-light col-sm-10 rounded mb-5 p-4 shadow">
        <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <h2 class="text-primary">{{ home_content.section1Title }}</h2>
            <p class="h2 lead text-dark" >
                {{ home_content.section1Content|raw }}

                 </p>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex d-flex justify-content-center">
            <img src="{{ asset('build/images/favicon.png') }}" class="img-fluid" alt="">
        </div>
    </div>
</div>
</div>
