<div class="jumbotron paral paralsec d-flex flex-column align-items-center justify-content-center">


    <h1 class="text-primary">{{ home_content.introTitle|raw }}</h1>
    <p class="lead w-75 text-shadow" >
        {{ home_content.introContent}}    </p>


</div>
