{% extends 'base.html.twig' %}

{% block title %}Edit Tchat{% endblock %}

{% block body %}
    <h1>Edit Tchat</h1>

    {{ include('tchat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tchat_index') }}">back to list</a>

    {{ include('tchat/_delete_form.html.twig') }}
{% endblock %}
