{% extends 'base.html.twig' %}

{% block title %}New Tchat{% endblock %}

{% block body %}
    <h1>Create new Tchat</h1>

    {{ include('tchat/_form.html.twig') }}

    <a href="{{ path('tchat_index') }}">back to list</a>
{% endblock %}
