{% extends 'base.html.twig' %}

{% block title %}Tchat{% endblock %}

{% block content %}
    <h1>Tchat </h1>
    <h3>Interact with other participants </h3>
    {{ tchat.id }}
    {{ tchat.name }}

{% endblock %}
