@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import 'web-home';
@import 'flash.scss';
@import "form";
@import "table";
@import "dashboard";
@import "recommendation";
@import "project";
@import "~cropperjs";
@import "notification";
@import "tchat";


.form-register {
  margin-top : 8rem;
}

p {
  font-family: Roboto;
}




