.badge {
  padding: 1%;
  font-size: 85%;
}

img.status_3 {
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}

.btn-lookingvolunteers {
  position: absolute;
  border-radius : 50px;
  right: 5px;
  top: 5px;
}

.project-member-avatar {
  width: 6rem;
}

.descriptionProject {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
