.table-title{
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.top-cel{
  vertical-align: top;
}

table{
  margin-left: 5rem;
  table-layout: fixed;
  width: 100%;
}

tr{
  width: 100%;
}

th, td{
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.input-element{
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}