$theme-colors: (
        "light": #FFFFFF,
        "dark": #000000,
        "primary": #EA504C,
        "secondary": #E74011,
        "secondary-alt" : #F39200,
        "blueish":#009BA4,
        "greenish": #52AE32,
        "grey": #F5F5F5,
);

$font-family-base: 'Roboto', 'Montserrat Alternates';

$enable-gradients: true;
