{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block content %}
    <div class="row justify-content-sm-center vh-100 align-content-center">
        <div class="home-section container bg-light col-sm-10 rounded mb-5 p-4 shadow">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-12">
                    <h1 class="text-primary">File upload</h1>

                    {{ include('component/project/file/file_form.html.twig') }}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
