<div class="row justify-content-sm-center">
    <div id="concept" class="home-section container bg-light col-sm-10 rounded mb-5 p-4 shadow">
        <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <h2 class="text-primary">Concept</h2>
            <p class="lead text-dark" >
                Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
            </p><p class="lead text-dark" >
                Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex d-flex justify-content-center">
            <img src="https://picsum.photos/200" class="img-fluid" alt="">
        </div>
    </div>
</div>
</div>