{% extends 'layout/frame.html.twig' %}

{% block title %}{{ parent() }} - Your Dashboard{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/build/rightTabContent.js"></script>
{% endblock %}

{% block framed %}
<h1 class="text-primary">Your Dashboard</h1>
    <div class="row">
        {% include 'component/dashboard/_navbar_dashboard.html.twig' %}
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade changingcontent show active" id="v-pills-projects" role="tabpanel" aria-labelledby="v-pills-projects-tab">
                    {% include 'component/dashboard/_user_participations.html.twig' %}
                </div>
                <div class="tab-pane fade changingcontent" id="v-pills-accomplishments" role="tabpanel" aria-labelledby="v-pills-accomplishments-tab">
                    Your accomplishments....
                </div>
                <div class="tab-pane fade changingcontent" id="v-pills-skills" role="tabpanel" aria-labelledby="v-pills-skills-tab">
                    {% include 'component/dashboard/_user_skill_form.html.twig' %}
                </div>
                <div class="tab-pane fade changingcontent" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    {% include 'component/dashboard/_userprofile.html.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
