{% extends 'base.html.twig' %}
{% block content %}
    <div class=" form-register row justify-content-sm-center align-content-center">
        <div id="concept" class="home-section container bg-light col-11 rounded mb-5 pt-3 p-1 shadow">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-sm-12">
                    {% block framed %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
