{% extends 'layout/frame.html.twig' %}
{% block title %}{{ parent() }}Project{% endblock %}

{% block framed %}
    <h1 class="text-primary">Project List</h1>
    {% include 'component/_project_list.html.twig' %}
{% endblock %}

