{% extends 'layout/frame.html.twig' %}
{% block title %}{{ parent() }}Project{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('isotope') }}
{% endblock %}

{% block framed %}

    <h1 class="text-primary">Projects</h1>
    {% include 'component/_project_list.html.twig' %}

{% endblock %}

