{% extends 'layout/frame.html.twig' %}

{% block title %}New request{% endblock %}

{% block framed %}
    <h1 class="text-primary">Create a new request</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mb-3">Create a request</button>
        {{ form_end(form) }}
{% endblock %}