{% extends 'layout/frame.html.twig' %}

{% block title %}New Task{% endblock %}

{% block framed %}
    <h1 class="text-primary">Create a new request</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Create a request</button>
        {{ form_end(form) }}
{% endblock %}