<div class="project-card d-flex flex-column align-content-start justify-content-start my-5" >
    <div>
        <h3>Description</h3>
        <p class="my-4">{{ project.description }}</p>
        <div class="d-flex justify-content-center">
            <img src="https://picsum.photos/200" height="300" alt="Projects">
        </div>
    </div>
</div>




