<div class="project-card d-flex flex-column align-content-start justify-content-start my-5" >
{#    <div class="d-flex flex-row justify-content-end align-items-start">#}
    <div>
        <h3>Description</h3>
        <p class="my-4">{{ project.description }}</p>
        <div class="d-flex justify-content-center">
            <img src="https://picsum.photos/200" height="300" alt="Projects">
        </div>
        {#<div class="col-lg-8 d-flex flex-column justify-content-center">
            <h3>Description</h3>
            {{ project.description }}
        </div>
        <div class="col-lg-4 embed-responsive">
            <img src="https://picsum.photos/200" height="300" alt="Projects">
        </div>#}
    </div>
</div>




